.hero {
    @apply flex flex-col md:flex-row gap-8 w-full transition-all pb-4 rounded-lg border-[1px] p-3
}
.hero__face {
    @apply flex md:flex-none justify-center
}
.hero__says {
    @apply flex-1 text-center md:text-left
}
.author-card {
    @apply  h-48 w-48 md:h-56 bg-theme-primary dark:bg-theme-dark-primary rounded-full md:rounded-md shadow-lg
}
.author-card img {
    @apply rounded-full h-48 w-48 md:h-56 mt-0
}
